@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
    font-family: 'Roboto', serif;
    height: 100vh;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
    color: #333;
    --background: rgba(229, 229, 229, 0.88);
    background-color: #ddd;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    color: #6d4c41;
    padding: 0px;
    margin: 30px 0px;
}
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

tr:last-child {
    border-bottom: none;
}

a {
    color: #473731;
    text-decoration: underline;
}

table a {
    color: #333;
}

pre {
    /*word-wrap: break-word;
    white-space: pre-wrap;*/
    padding: 0px 2px;
}

.head {
    padding-top: 20px;
}
.logo {
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.logo-wrapper {
    display: inline-block;
}
.logo-img {
    display: block;
    float: left;
    width: 60px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #6d4c41;
}

.logo-title {
    display: inline-block;
    font-size: 4rem;
    font-family: 'Bangers';
}

.content iframe {
	max-width: 100%;
}

.search input::placeholder {
    color:#999;
}
.search input {
    display: block;
    width: 100%;
    color: #333;
    font-size: 1.1rem;
    padding: 0.7rem 1.7rem;
    border: none;
    border-radius: 3px;
    background: rgba(229, 229, 229, 0.88);

    -webkit-box-shadow: -1px 1px 7px 0px rgba(100,100,100,0.75);
    -moz-box-shadow: -1px 1px 7px 0px rgba(100,100,100,0.75);
    box-shadow: -1px 1px 7px 0px rgba(100,100,100,0.75);
}
.search input:focus {
    border: #795548;
    outline: none !important;
    -webkit-box-shadow: -1px 1px 16px -1px rgba(150,150,150,0.75);
    -moz-box-shadow: -1px 1px 16px -1px rgba(150,150,150,0.75);
    box-shadow: -1px 1px 16px -1px rgba(150,150,150,0.75);
}
.search input:focus::-webkit-input-placeholder {
    color: transparent;
}

.menu {
    margin-top: 30px;
}
.menu-item {
    margin-right: 20px;
    float: right;
}

.letters {
    width: 100%;
    margin-top: 1.6rem;
    text-align: center;
}
.letters a {
    color: #6d4c41;
    font-size: 1.1rem;
    margin: 0px 4px;
    text-decoration: underline;
}

/* .block.bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
} */

/* .block.complex {
    margin-bottom: 1rem;
    padding: 5px 1.5rem;
} */

.bread {
    margin: 30px 0px;
}

.song {
    overflow-x: auto;
}
.song b {
    color: #795548;
}
.song pre {
    line-height: 15px;
}

.chords_block img {
    margin: 1rem;
}

.pagination li.active {
    background-color: #795548;
}

.footer {
    min-height: 50px;
    width: 100%;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    padding: 4rem;
    background: rgb(100, 100, 100);
    background: rgba(100, 100, 100, 0.88);
    /* -webkit-box-shadow: -1px 6px 35px -4px rgba(0,0,0,0.88);
    -moz-box-shadow: -1px 6px 35px -4px rgba(0,0,0,0.88);
    box-shadow: -1px 6px 35px -4px rgba(0,0,0,0.88); */
}

@media only screen and (max-width: 600px) {

	.logo {
        --text-align: center;
    }
    .logo-img {
        display: none;
    }

	.logo-title {
		font-size: 3.2rem;
        float: none;
	}
    .container {
        width: 100%;
    }
    /* .block {
        padding: 5px 1rem;
        border-radius: 0px;
    } */
}

@media only screen and (min-width: 601px){
    .logo {
        --text-align: center;
    }
}
