<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

Redirect 301 /alai-oli https://checkthechords.ru/artist/alai-oli
Redirect 301 /anacondaz https://checkthechords.ru/artist/anacondaz
Redirect 301 /naiv https://checkthechords.ru/artist/naiv
Redirect 301 /nochnye-snajpery https://checkthechords.ru/artist/nochnie-snajperi
Redirect 301 /oxxxymiron https://checkthechords.ru/artist/oxxxymiron
Redirect 301 /sektor-gaza https://checkthechords.ru/artist/sektor-gaza
Redirect 301 /loc-dog https://checkthechords.ru/artist/loc-dog
Redirect 301 /chords-anacondazz-flag https://checkthechords.ru/anacondaz-flag
Redirect 301 /anacondaz-belyashi https://checkthechords.ru/anacondaz-beljashi
Redirect 301 /sektor-gaza-gulyaj-muzhik https://checkthechords.ru/sektor-gaza-guljaj-muzhik
Redirect 301 /loc-dog-smejsya https://checkthechords.ru/loc-dog-smejsja-outro
Redirect 301 /gnojnyj-cool-my-ardor https://checkthechords.ru/slava-kpss-ohladi-moj-pil
Redirect 301 /splean-ona-byla-tak-prekrasna https://checkthechords.ru/splin-ona-bila-tak-prekrasna
Redirect 301 /yana-golub https://checkthechords.ru/jana-golub
Redirect 301 /splean-orkestr https://checkthechords.ru/splin-orkestr
Redirect 301 /sektor-gaza-demobilizaciya https://checkthechords.ru/sektor-gaza-demobilizacija
Redirect 301 /sektor-gaza-teshcha https://checkthechords.ru/sektor-gaza-teshca
Redirect 301 /naiv-moe-serdce https://checkthechords.ru/naiv-moe-serdce-ne-ostanovilos
Redirect 301 /bezumie-oxxxymiron-lsp https://checkthechords.ru/oxxxymiron-bezumie
Redirect 301 /subways-rock-n-roll https://checkthechords.ru/the-subways-rock-&-roll-queen
Redirect 301 /oxxxymiron-krokodilovy-slezy https://checkthechords.ru/oxxxymiron-krokodilovi-slezi
Redirect 301 /herova-zhest https://checkthechords.ru/artist/herova-zhest
Redirect 301 /grob-evangelie https://checkthechords.ru/grazhdanskaja-oborona-evangelie
Redirect 301 /splean-orbit-bez-sahara https://checkthechords.ru/splin-orbit-bez-sahara
Redirect 301 /chords-oxxxymiron-gorod-pod-podoshvoj https://checkthechords.ru/oxxxymiron-gorod-pod-podoshvoj
Redirect 301 /chords-oxxxymiron-perepleteno https://checkthechords.ru/oxxxymiron-perepleteno
Redirect 301 /loc-dog-sestrenka https://checkthechords.ru/loc-dog-sestrenka-tvoja-ulibka-eto-milo
Redirect 301 /surganova-i-orkestr https://checkthechords.ru/artist/surganova-i-orkestr
Redirect 301 /kirpichi https://checkthechords.ru/artist/kirpichi
Redirect 301 /akkordy-loc-dog-tolko-ya https://checkthechords.ru/loc-dog-tolko-ja
Redirect 301 /аккорды-jahmal-джамал-тгк-сальто-назад https://checkthechords.ru/jahmal-tgk-salto-nazad
Redirect 301 /accords-2517-ant-zhdu-chuda https://checkthechords.ru/2517-zhdu-chuda
Redirect 301 /sektor-gaza-ya-ustal https://checkthechords.ru/sektor-gaza-ja-ustal
Redirect 301 /25-17-na-gorodskoj-karte https://checkthechords.ru/2517-na-gorodskoj-karte
Redirect 301 /kino https://checkthechords.ru/artist/kino
Redirect 301 /imperiya-navsegda-instrukciya-po-oborone https://checkthechords.ru/instrukcija-po-oborone-imperija-navsegda
Redirect 301 /kino-kogda-tvoya-devushka-bolna https://checkthechords.ru/kino-kogda-tvoja-devushka-bolna
Redirect 301 /kino-pesnya-bez-slov https://checkthechords.ru/kino-pesnja-bez-slov
Redirect 301 /kino-deti-prohodnyh-dvorov https://checkthechords.ru/kino-deti-prohodnih-dvorov
Redirect 301 /instrukciya-rock-n-roll-front https://checkthechords.ru/instrukcija-po-vizhivaniju-rok-n-rollnij-front
Redirect 301 /kino-filmy https://checkthechords.ru/kino-filmi
Redirect 301 /kino-dalshe-dejstvovat-budem-my https://checkthechords.ru/kino-dalshe-dejstvovat-budem-mi
Redirect 301 /kino-ty-est https://checkthechords.ru/kino-ti-est
Redirect 301 /kino-eto-ne-lubov https://checkthechords.ru/kino-eto-ne-ljubov
Redirect 301 /kino-solnechnye-dni https://checkthechords.ru/kino-solnechnie-dni
Redirect 301 /kino-konchitsya-leto https://checkthechords.ru/kino-konchitsja-leto
Redirect 301 /kino-ty-mog-by https://checkthechords.ru/kino-ti-mog-bi
Redirect 301 /kino-my-hotim-tancevat https://checkthechords.ru/kino-mi-hotim-tancevat
Redirect 301 /kino-seraya-ten https://checkthechords.ru/kino-seraja-ten
Redirect 301 /kino-ya-idu-po-ulice https://checkthechords.ru/kino-ja-idu-po-ulice
Redirect 301 /splean-bog-ustal-lubit https://checkthechords.ru/splin-bog-ustal-nas-ljubit
Redirect 301 /kino-neveselaya-pesnya https://checkthechords.ru/kino-neveselaja-pesnja
Redirect 301 /surganova-i-orkestr-belaya https://checkthechords.ru/surganova-i-orkestr-belaja-pesnja
Redirect 301 /feduk https://checkthechords.ru/artist/feduk
Redirect 301 /kino-malysh https://checkthechords.ru/kino-malish
Redirect 301 /tarakany-last-song-about-it https://checkthechords.ru/tarakani-poslednjaja-pesnja-ob-etom
Redirect 301 /kino-bez-desyati https://checkthechords.ru/kino-bez-desjati
Redirect 301 /kino-alyuminievye-ogurcy https://checkthechords.ru/kino-aljuminievie-ogurci
Redirect 301 /kino-bratskaya-lyubov https://checkthechords.ru/kino-bratskaja-ljubov
Redirect 301 /splean-chto-ty-budesh-delat https://checkthechords.ru/splin-chto-ti-budesh-delat
Redirect 301 /sektor-gaza-vzyal-vinu-na-sebya https://checkthechords.ru/sektor-gaza-vzjal-vinu-na-sebja
Redirect 301 /25-17 https://checkthechords.ru/artist/2517
Redirect 301 /kino-posvyashchenie-marku-bolanu https://checkthechords.ru/kino-posvjashcenie-marku-bolanu
Redirect 301 /naiv-nnnnz https://checkthechords.ru/naiv-n.n.n.z
Redirect 301 /grazhdanskaya-oborona https://checkthechords.ru/artist/grazhdanskaja-oborona
Redirect 301 /kino-dozhd-dlya-nas https://checkthechords.ru/kino-dozhd-dlja-nas
Redirect 301 /mumij-troll https://checkthechords.ru/artist/mumij-troll
Redirect 301 /strykalo-kladbishche-samoletov https://checkthechords.ru/valentin-strikalo-kladbishce-samoletov
Redirect 301 /grob-judah-will-be-in-paradise https://checkthechords.ru/grazhdanskaja-oborona-iuda-budet-v-raju
Redirect 301 /grob-dumy-okayannye https://checkthechords.ru/grazhdanskaja-oborona-dumi-okajannie
Redirect 301 /grob-neponyatnaya-pesenka https://checkthechords.ru/grazhdanskaja-oborona-neponjatnaja-pesenka
Redirect 301 /grob-tuman https://checkthechords.ru/grazhdanskaja-oborona-tuman
Redirect 301 /grob-myshelovka https://checkthechords.ru/grazhdanskaja-oborona-mishelovka
Redirect 301 /kino-mama-mvssu https://checkthechords.ru/kino-mama-mi-vse-soshli-s-uma
Redirect 301 /strykalo-deshevye-dramy https://checkthechords.ru/valentin-strikalo-deshevie-drami
Redirect 301 /akkordy-grob-on-uvidel-solnce https://checkthechords.ru/grazhdanskaja-oborona-on-uvidel-solnce
Redirect 301 /grob-soldatami-ne-rozhdautsya https://checkthechords.ru/grazhdanskaja-oborona-soldatami-ne-rozhdajutsja_272
Redirect 301 /korzh https://checkthechords.ru/artist/maks-korzh
Redirect 301 /rem-digga-vesna https://checkthechords.ru/rem-digga-vesna-paralleli
Redirect 301 /strykalo-funk https://checkthechords.ru/strikalo-fank
Redirect 301 /akkordy-jahmal-tgk-zimnyaya https://checkthechords.ru/jahmal-tgk-zimnjaja
Redirect 301 /akkordy-yanka-dyagileva https://checkthechords.ru/artist/janka-djagileva
Redirect 301 /pornofilmy-ya-tak-soskuchilsya https://checkthechords.ru/pornofilmi-ja-tak-soskuchilsja
Redirect 301 /ilwt-adovye-baby https://checkthechords.ru/ilwt-adovie-babi
Redirect 301 /grob-otryad-ne-zametil-poteri-boica https://checkthechords.ru/grazhdanskaja-oborona-otrjad-ne-zametil-poteri-bojca
Redirect 301 /kino-spokojnaya-noch https://checkthechords.ru/kino-spokojnaja-noch
Redirect 301 /pornofilmy-sorry-bye-hi https://checkthechords.ru/pornofilmi-prosti-proshcaj-privet
Redirect 301 /nochnye-snajpery-asfalt https://checkthechords.ru/nochnie-snajperi-asfalt
Redirect 301 /sektor-gaza-kazachya https://checkthechords.ru/sektor-gaza-kazachja
Redirect 301 /grob-long-happy-life https://checkthechords.ru/grazhdanskaja-oborona-dolgaja-schastlivaja-zhizn
Redirect 301 /pornofilmy-russia-for-sad https://checkthechords.ru/pornofilmi-rossija-dlja-grustnih
Redirect 301 /grob-we-are-the-ice https://checkthechords.ru/grazhdanskaja-oborona-mi---led
Redirect 301 /anacondaz-mama-ya-lublu https://checkthechords.ru/anacondaz-mama-ja-ljublju
Redirect 301 /kino-krasno-zheltye-dni https://checkthechords.ru/kino-krasno-zheltie-dni
Redirect 301 /pornofilmy-about-ghetto-love https://checkthechords.ru/pornofilmi-pesnja-pro-ljubov-dlja-rabochego-rajona
Redirect 301 /grob-solncevorot https://checkthechords.ru/grazhdanskaja-oborona-solncevorot
Redirect 301 /akkordy-loc-dog-takaya-lubov https://checkthechords.ru/loc-dog-takaja-ljubov
Redirect 301 /grazhdanskaya-oborona-vse-idet-po-planu https://checkthechords.ru/grazhdanskaja-oborona-vse-idet-po-planu
Redirect 301 /svoboda-grob https://checkthechords.ru/grazhdanskaja-oborona-svoboda
Redirect 301 /kino-ariya-mistera-x https://checkthechords.ru/kino-arija-mistera-x
Redirect 301 /grob-vechnaya-vesna https://checkthechords.ru/grazhdanskaja-oborona-vechnaja-vesna
Redirect 301 /kino-ya-asfalt https://checkthechords.ru/kino-ja---asfalt
Redirect 301 /kino-lyubov-eto-ne-shutka https://checkthechords.ru/kino-ljubov---eto-ne-shutka
Redirect 301 /grob-kak-smetana https://checkthechords.ru/grazhdanskaja-oborona-kak-smetana
Redirect 301 /grob-mimikriya https://checkthechords.ru/grazhdanskaja-oborona-mimikrija
Redirect 301 /grob-krasnyj-kon https://checkthechords.ru/grazhdanskaja-oborona-krasnij-kon
Redirect 301 /kino-mama-anarhiya https://checkthechords.ru/kino-mama-anarhija
Redirect 301 /kino-v-poiskah-syuzheta https://checkthechords.ru/kino-v-poiskah-sjuzheta
Redirect 301 /kino-bezyadernaya-zona https://checkthechords.ru/kino-ja-objavljaju-svoj-dom
Redirect 301 /korzh-gory-po-koleno https://checkthechords.ru/maks-korzh-gori-po-koleno
Redirect 301 /nochnye-snajpery-ty-darila-mne-rozy https://checkthechords.ru/nochnie-snajperi-ti-darila-mne-rozi
Redirect 301 /kino-muzyka-voln https://checkthechords.ru/kino-muzika-voln
Redirect 301 /korzh-motylek https://checkthechords.ru/maks-korzh-motilek
Redirect 301 /dyadya-zhenya-final-8 https://checkthechords.ru/djadja-zhenja-svobodnaja-tema-final
Redirect 301 /grob-vse-kak-u-ludej https://checkthechords.ru/grazhdanskaja-oborona-vse-kak-u-ljudej
Redirect 301 /akkordy-grob-my-idem-v-tishine https://checkthechords.ru/mi-idem-v-tishine-i-tekst-pesni-grazhdanskaja-oborona
Redirect 301 /grob-pulya-dura https://checkthechords.ru/grazhdanskaja-oborona-pulja-dura
Redirect 301 /brutto-12-monkeys https://checkthechords.ru/brutto-12-obezjan
Redirect 301 /kino-ya-hochu-byt-s-toboj https://checkthechords.ru/viktor-coj-ja-hochu-bit-s-toboj
Redirect 301 /yanka-dyagileva-ot-bolshogo-uma https://checkthechords.ru/janka-djagileva-ot-bolshogo-uma
Redirect 301 /plastilin-son-na-vzletnoj https://checkthechords.ru/operacija-plastilin-son-na-vzletnoj-polose
Redirect 301 /kino-moi-druzya https://checkthechords.ru/kino-moi-druzja
Redirect 301 /kino-ty-vyglyadish-tak-nesovremenno https://checkthechords.ru/kino-ti-vigljadish-tak-nesovremenno
Redirect 301 /kino-ya-hochu-byt-kochegarom https://checkthechords.ru/kino-ja-hochu-bit-kochegarom
Redirect 301 /mara-samolety https://checkthechords.ru/mara-samoleti
Redirect 301 /sektor-gaza-near-your-house https://checkthechords.ru/sektor-gaza-vozle-doma-tvoego
Redirect 301 /strykalo https://checkthechords.ru/artist/valentin-strikalo
Redirect 301 /splean-liniya-zhizni https://checkthechords.ru/splin-linija-zhizni
Redirect 301 /pornofilmy https://checkthechords.ru/artist/pornofilmi
Redirect 301 /splean-bonni-i-klajd https://checkthechords.ru/splin-bonni-i-klajd
Redirect 301 /grob-zoopark https://checkthechords.ru/grazhdanskaja-oborona-zoopark
Redirect 301 /yanka-dyagileva-osobyj-rezon https://checkthechords.ru/janka-djagileva-osobij-rezon
Redirect 301 /noize-mc https://checkthechords.ru/artist/noize-mc
Redirect 301 /splean-hram https://checkthechords.ru/splin-hram
Redirect 301 /noize-mc-jordan https://checkthechords.ru/noize-mc-iordan
Redirect 301 /splean-skazhi https://checkthechords.ru/splin-skazhi
Redirect 301 /noize-mc-sgorau https://checkthechords.ru/noize-mc-sgoraju
Redirect 301 /noize-mc-vydyhaj https://checkthechords.ru/noize-mc-vidihaj
Redirect 301 /noize-mc-vselennaya-beskonechna https://checkthechords.ru/noize-mc-vselennaja-beskonechna
Redirect 301 /noize-mc-rugan-iz-za-steny https://checkthechords.ru/noize-mc-rugan-iz-za-steni
Redirect 301 /noize-mc-moj-lyubimyj-cvet https://checkthechords.ru/noize-mc-moj-ljubimij-cvet
Redirect 301 /mumij-troll-delfiny https://checkthechords.ru/mumij-troll-delfini
Redirect 301 /herova-zhest-vse-baby-stervy https://checkthechords.ru/herova-zhest-vse-babi-stervi
Redirect 301 /noize-mc-piterskie-kryshi https://checkthechords.ru/noize-mc-piterskie-krishi
Redirect 301 /korzh-zhit-v-kajf https://checkthechords.ru/maks-korzh-zhit-v-kajf
Redirect 301 /loc-dog-zasnezhennaya https://checkthechords.ru/loc-dog-zasnezhennaja
Redirect 301 /kino-ty-obvela-menya-vokrug-palca https://checkthechords.ru/kino-ti-obvela-menja-vokrug-palca
Redirect 301 /korzh-slovo-pacana https://checkthechords.ru/maks-korzh-slovo-pacana
Redirect 301 /kino-kogda-to-ty-byl-bitnikom https://checkthechords.ru/kino-kogda-to-ti-bil-bitnikom
Redirect 301 /kino-sosny-na-morskom-beregu https://checkthechords.ru/kino-sosni-na-morskom-beregu
Redirect 301 /kino-pesnya-dlya-bg https://checkthechords.ru/kino-pesnja-dlja-bg
Redirect 301 /mumij-troll-malysh https://checkthechords.ru/mumij-troll-malish
Redirect 301 /splean-romans https://checkthechords.ru/splin-romans
Redirect 301 /nochnye-snajpery-31-vesna https://checkthechords.ru/nochnie-snajperi-31-aja-vesna
Redirect 301 /splean-moe-serdce https://checkthechords.ru/splin-moe-serdce
Redirect 301 /sega-noch-pered-rozhdestvom https://checkthechords.ru/sektor-gaza-noch-pered-rozhdestvom
Redirect 301 /akkordy-oxxxymiron-hitinovyj-pokrov https://checkthechords.ru/oxxxymiron-hitinovij-pokrov
Redirect 301 /splean-chudak https://checkthechords.ru/splin-chudak
Redirect 301 /splean-dvoe-ne-spyat https://checkthechords.ru/splin-dvoe-ne-spjat
Redirect 301 /kino-mesto-dlya-shaga-vpered https://checkthechords.ru/kino-mesto-dlja-shaga-vpered
Redirect 301 /korzh-taet-dym https://checkthechords.ru/maks-korzh-taet-dim
Redirect 301 /splean-novye-ludi https://checkthechords.ru/splin-novie-ljudi
Redirect 301 /splean-doch-samuraya https://checkthechords.ru/splin-doch-samuraja
Redirect 301 /splean-mayak https://checkthechords.ru/splin-majak-vmesto-pisma
Redirect 301 /korzh-proletarka https://checkthechords.ru/maks-korzh-proletarka
Redirect 301 /splean-spi-v-zabroshennom-dome https://checkthechords.ru/splin-spi-v-zabroshennom-dome
Redirect 301 /splean-dvureche-ya-nichego-ne-skryl https://checkthechords.ru/splin-dvureche-ja-nichego-ne-skril
Redirect 301 /splean https://checkthechords.ru/artist/splin
Redirect 301 /feduk-rozovoe-vino https://checkthechords.ru/feduk-&-eldzhej-rozovoe-vino
Redirect 301 /grob-navazhdenie https://checkthechords.ru/grazhdanskaja-oborona-navazhdenie
Redirect 301 /splean-fellini https://checkthechords.ru/splin-fellini
Redirect 301 /splean-ostaemsya-zimovat https://checkthechords.ru/splin-ostaemsja-zimovat
Redirect 301 /splean-vyhoda-net https://checkthechords.ru/splin-vihoda-net
Redirect 301 /splean-chernaya-volga https://checkthechords.ru/splin-chernaja-volga
Redirect 301 /splean-gandbol https://checkthechords.ru/splin-gandbol
Redirect 301 /splean-ves-etot-bred https://checkthechords.ru/splin-ves-etot-bred
Redirect 301 /splean-adelaida https://checkthechords.ru/splin-adelaida
Redirect 301 /splean-kit https://checkthechords.ru/splin-kit
Redirect 301 /splean-anglo-russkij-slovar https://checkthechords.ru/splin-anglo-russkij-slovar
Redirect 301 /akkordy-loc-dog-kazhdomu-svoe https://checkthechords.ru/loc-dog-kazhdomu-svoe
Redirect 301 /accords-loc-dog-podgruzilo https://checkthechords.ru/loc-dog-podgruzilo
Redirect 301 /splean-pauzy https://checkthechords.ru/splin-pauzi
Redirect 301 /grob-bez-menya https://checkthechords.ru/grazhdanskaja-oborona-bez-menja
Redirect 301 /kino-zvezdy-ostanutsya-zdes https://checkthechords.ru/kino-zvezdi-ostanutsja-zdes
Redirect 301 /korzh-endorfin https://checkthechords.ru/maks-korzh-endorfin
Redirect 301 /grob-tramvaj https://checkthechords.ru/grazhdanskaja-oborona-tramvaj
Redirect 301 /kino-vremya-est-a-deneg-net https://checkthechords.ru/kino-vremja-est-a-deneg-net
Redirect 301 /oxxxymiron-nevalyashka-akkordy https://checkthechords.ru/oxxxymiron-nevaljashka
Redirect 301 /grob-moya-oborona https://checkthechords.ru/grazhdanskaja-oborona-moja-oborona
Redirect 301 /grob-soldatami https://checkthechords.ru/grazhdanskaja-oborona-soldatami-ne-rozhdajutsja
Redirect 301 /ilwt-budu-v-penze-pozvonu https://checkthechords.ru/ilwt-budu-v-penze---pozvonju
Redirect 301 /splean-tancuj https://checkthechords.ru/splin-tancuj
Redirect 301 /sektor-gaza-mestnye https://checkthechords.ru/sektor-gaza-mestnie
Redirect 301 /loc-dog-v-toj-vesne https://checkthechords.ru/aleksandr-zhvakin-loc-dog-v-toj-vesne
Redirect 301 /splean-poj-mne-eshche https://checkthechords.ru/splin-poj-mne-eshce
Redirect 301 /splean-mne-20-let https://checkthechords.ru/splin-mne-20-let
Redirect 301 /grob-lubo https://checkthechords.ru/grazhdanskaja-oborona-ljubo
Redirect 301 /grob-egor-letov-mertvye https://checkthechords.ru/grazhdanskaja-oborona-mertvie
Redirect 301 /loc-dog-lubit-nebo https://checkthechords.ru/loc-dog-ljubit-nebo
Redirect 301 /mumij-troll-zabavy https://checkthechords.ru/mumij-troll-zabavi
Redirect 301 /sektor-gaza-kolhoznyj-pank https://checkthechords.ru/sektor-gaza-kolhoznij-pank
